<div class="blade-content __xlarge-wide">
  <div class="blade-inner">
    <div class="inner-block clearfix">
      <form class="form" name="detailForm">
        <div class="form-group" ng-init="setForm(detailForm)">
          <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.name' | translate }}</label>
          <div class="form-input">
            <input ng-model="blade.currentEntity.name" focus-on="" placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.name' | translate }}" required />
            <span class="table-descr">{{ 'shipping.blades.pickup-location-detail.descriptions.name' | translate }}</span>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="column">
            <div class="form-group __info list">
              <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.is-active' | translate }}</label>
              <div class="form-input">
                <label class="form-label __switch">
                  <input type="checkbox" ng-model="blade.currentEntity.isActive"
                         ng-change="onIsActiveChange()" />
                  <span class="switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="blade-gray-box">
          <div class="columns clearfix">
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.geoLocation' | translate }}</label>
                <div class="form-input">
                  <input ng-model="blade.currentEntity.geoLocation"
                         name="geoLocation"
                         ng-pattern="/^(\-?\d+(\.\d+)?),\s*(\-?\d+(\.\d+)?)$/"
                         placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.geoLocation' | translate }}"
                         type="text">
                  <span class="table-descr">{{ 'shipping.blades.pickup-location-detail.descriptions.geoLocation' | translate }}</span>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.outerId' | translate }}</label>
                <div class="form-input">
                  <input ng-model="blade.currentEntity.outerId"
                         name="outerId"
                         placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.outerId' | translate }}"
                         type="text">
                  <span class="table-descr">{{ 'shipping.blades.pickup-location-detail.descriptions.outerId' | translate }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="columns clearfix">
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.contactEmail' | translate }}</label>
                <div class="form-input">
                  <input ng-model="blade.currentEntity.contactEmail"
                         name="contactEmail"
                         placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.contactEmail' | translate }}"
                         type="text">
                  <span class="table-descr">{{ 'shipping.blades.pickup-location-detail.descriptions.contactEmail' | translate }}</span>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.contactPhone' | translate }}</label>
                <div class="form-input">
                  <input ng-model="blade.currentEntity.contactPhone"
                         name="contactPhone"
                         placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.contactPhone' | translate }}"
                         type="text">
                  <span class="table-descr">{{ 'shipping.blades.pickup-location-detail.descriptions.contactPhone' | translate }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="columns clearfix" ng-if="inventoryModuleInstalled">
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.fulfillmentCenter' | translate }}</label>
                <div class="form-input">
                  <ui-scroll-drop-down data="blade.fetchFulfillmentCenters(criteria)"
                                       ng-model="blade.currentEntity.fulfillmentCenterId"
                                       placeholder="'shipping.blades.pickup-location-detail.placeholders.fulfillmentCenter'">
                  </ui-scroll-drop-down>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.transferFulfillmentCenter' | translate }}</label>
                <div class="form-input">
                  <ui-scroll-drop-down data="blade.fetchFulfillmentCenters(criteria)"
                                       multiple="true"
                                       ng-model="blade.currentEntity.transferFulfillmentCenterIds"
                                       placeholder="'shipping.blades.pickup-location-detail.placeholders.transferFulfillmentCenter'">
                  </ui-scroll-drop-down>
                </div>
              </div>
            </div>
          </div>
          <div class="columns clearfix">
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.readyForPickup' | translate }}</label>
                <div class="form-input __number">
                  <input smart-float num-type="integer"
                         ng-required="false"
                         ng-model="blade.currentEntity.readyForPickup"
                         placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.readyForPickup' | translate }}" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="form-group">
                <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.pickupDeadline' | translate }}</label>
                <div class="form-input __number">
                  <input smart-float num-type="integer"
                         ng-required="false"
                         ng-model="blade.currentEntity.pickupDeadline"
                         placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.pickupDeadline' | translate }}" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <va-widget-container group="pickupLocationAddress" blade="blade" gridster-opts="{columns: 6}"></va-widget-container>
        </div>

        <div class="form-group">
          <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.description' | translate }}</label>
          <div class="form-input" style="margin: 0">
            <textarea class="form-control"
                      style="height: 150px"
                      placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.description' | translate }}"
                      ng-model="blade.currentEntity.description"
                      id="descriptionEditor"></textarea>
            <span class="table-descr">{{ 'shipping.blades.pickup-location-detail.descriptions.description' | translate }}</span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">{{ 'shipping.blades.pickup-location-detail.labels.working-hours' | translate }}</label>
          <div class="form-input" style="margin: 0">
            <textarea class="form-control"
                      vc-uk-htmleditor placeholder="{{ 'shipping.blades.pickup-location-detail.placeholders.working-hours' | translate }}"
                      ng-model="blade.currentEntity.workingHours"
                      file-uploader="fileUploader"
                      id="workingHoursEditor"></textarea>
            <span class="table-descr">{{ 'shipping.blades.pickup-location-detail.descriptions.working-hours' | translate }}</span>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
